In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df = pd.read_csv(r'C:\Users\arjun\Downloads\dataset-1.csv' )

In [10]:
df.shape

(341, 8)

In [11]:
df.head()

   id_1  id_2  route   moto    car     rv   bus  truck
0   829   827      1   2.05   4.14   4.14  10.1   15.2
1   829   821      4   6.63  13.26  13.26  32.4   48.5
2   829   804      7  14.41  28.92  28.92  64.7   97.0
3   829   822      6   5.90  11.81  11.81  28.8   43.2
4   829   826      9   2.87   5.81   5.81  14.2   21.2

Question 1: Car Matrix Generation
Under the function named generate_car_matrix write a logic that takes the dataset-1.csv as a DataFrame. Return a new DataFrame that follows the following rules:

values from id_2 as columns
values from id_1 as index
dataframe should have values from car column
diagonal values should be 0.

In [48]:

   
def generate_car_matrix(df):
   
    pivot_df = df.pivot(index='id_1', columns='id_2', values='car').fillna(0)
    pivot_df.values[[range(len(pivot_df))]*2] = 0
    return pivot_df

In [52]:
result_df =generate_car_matrix(df)
print(result_df)

id_2  801  802  803  804  805  806  807  808  809  821  822  823  824  825  \
id_1
801   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
802   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
803   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
804   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
805   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
806   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
807   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
808   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
809   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
821   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
822   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
823   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
824   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
825   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
826   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
827   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
829   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
830   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
831   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

id_2  826  827  829  830  831
id_1
801   0.0  0.0  0.0  0.0  0.0
802   0.0  0.0  0.0  0.0  0.0
803   0.0  0.0  0.0  0.0  0.0
804   0.0  0.0  0.0  0.0  0.0
805   0.0  0.0  0.0  0.0  0.0
806   0.0  0.0  0.0  0.0  0.0
807   0.0  0.0  0.0  0.0  0.0
808   0.0  0.0  0.0  0.0  0.0
809   0.0  0.0  0.0  0.0  0.0
821   0.0  0.0  0.0  0.0  0.0
822   0.0  0.0  0.0  0.0  0.0
823   0.0  0.0  0.0  0.0  0.0
824   0.0  0.0  0.0  0.0  0.0
825   0.0  0.0  0.0  0.0  0.0
826   0.0  0.0  0.0  0.0  0.0
827   0.0  0.0  0.0  0.0  0.0
829   0.0  0.0  0.0  0.0  0.0
830   0.0  0.0  0.0  0.0  0.0
831   0.0  0.0  0.0  0.0  0.0

Question 2: Car Type Count Calculation
Create a Python function named get_type_count that takes the dataset-1.csv as a DataFrame. Add a new categorical column car_type based on values of the column car:

low for values less than or equal to 15,
medium for values greater than 15 and less than or equal to 25,
high for values greater than 25.
Calculate the count of occurrences for each car_type category and return the result as a dictionary. Sort the dictionary alphabetically based on keys.

In [19]:
def get_type_count(df):
    df['car_type'] = pd.cut(df['car'], bins=[-float("inf"), 15, 25, float("inf")], labels=['low', 'medium', 'high'])
    type_count = df['car_type'].value_counts().to_dict()
    type_count = dict(sorted(type_count.items()))
    return type_count

In [54]:
result = get_type_count(df)
print(result)

{'high': 56, 'low': 196, 'medium': 89}

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341 entries, 0 to 340
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id_1    341 non-null    int64
 1   id_2    341 non-null    int64
 2   route   341 non-null    int64
 3   moto    341 non-null    float64
 4   car     341 non-null    float64
 5   rv      341 non-null    float64
 6   bus     341 non-null    float64
 7   truck   341 non-null    float64
dtypes: float64(5), int64(3)
memory usage: 21.4 KB

Question 3: Bus Count Index Retrieval
Create a Python function named get_bus_indexes that takes the dataset-1.csv as a DataFrame. The function should identify and return the indices as a list (sorted in ascending order) where the bus values are greater than twice the mean value of the bus column in the DataFrame

In [28]:
def get_bus_indexes(df):
    mean_bus = df['bus'].mean()
    bus_indexes = df[df['bus'] > 2 * mean_bus].index.tolist()
    return sorted(bus_indexes)

In [55]:
result = get_bus_indexes(df)
print(result)

[2, 7, 12, 17, 25, 30, 54, 64, 70, 97, 144, 145, 149, 154, 160, 201, 206, 210, 215, 234, 235, 245, 250, 309, 314, 319, 322, 323, 334, 340]

Question 4: Route Filtering
Create a python function filter_routes that takes the dataset-1.csv as a DataFrame. The function should return the sorted list of values of column route for which the average of values of truck column is greater than 7

In [36]:
def filter_routes(df):
    route_avg_truck = df.groupby('route')['truck'].mean()
    filtered_routes = route_avg_truck[route_avg_truck > 7].index.tolist()
    return sorted(filtered_routes)

In [43]:
result_df =filter_routes(df)
print(result_df)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Question 5: Matrix Value Modification
Create a Python function named multiply_matrix that takes the resulting DataFrame from Question 1, as input and modifies each value according to the following logic:

If a value in the DataFrame is greater than 20, multiply those values by 0.75,
If a value is 20 or less, multiply those values by 1.25.
The function should return the modified DataFrame which has values rounded to 1 decimal place.

In [41]:
def multiply_matrix(df):
    modified_df = df.copy()
    modified_df[df > 20] *= 0.75
    modified_df[df <= 20] *= 1.25
    modified_df = modified_df.round(1)
    return modified_df

In [42]:
result_df =multiply_matrix(df)
print(result_df)

      id_1   id_2  route  moto   car    rv   bus  truck
0    621.8  620.2    1.2   2.6   5.2   5.2  12.6   19.0
1    621.8  615.8    5.0   8.3  16.6  16.6  24.3   36.4
2    621.8  603.0    8.8  18.0  21.7  21.7  48.5   72.8
3    621.8  616.5    7.5   7.4  14.8  14.8  21.6   32.4
4    621.8  619.5   11.2   3.6   7.3   7.3  17.8   15.9
..     ...    ...    ...   ...   ...   ...   ...    ...
336  602.2  601.5    3.8   2.1   4.2   4.2   8.6   12.9
337  602.2  603.8    5.0   3.8   7.5   7.5  15.0   22.4
338  602.2  618.8    3.8  14.5  17.5  17.5  37.6   56.4
339  602.2  604.5   11.2   4.8   9.6   9.6  19.1   17.2
340  602.2  622.5    1.2  20.2  24.4  24.4  54.4   81.6

[341 rows x 8 columns]

In [56]:
def verify_time_completeness(df):
    df['timestamp'] = pd.to_datetime(df['timestamp'])
    df['day_of_week'] = df['timestamp'].dt.day_name()
    df['time'] = df['timestamp'].dt.time
    df['date'] = df['timestamp'].dt.date

    grouped = df.groupby(['id', 'id_2'])

    completeness_check = grouped.apply(lambda x: (x['day_of_week'].nunique() == 7) and 
                                               (x['date'].nunique() == 7) and 
                                               (x['time'].min() == pd.Timestamp('00:00:00').time()) and 
                                               (x['time'].max() == pd.Timestamp('23:59:59').time()))

    return completeness_check

In [62]:
completeness_result = df.groupby(['id_1', 'id_2'])
print(completeness_result)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000028B7FC18E10>